docker/.env
testes
docker/auth-service-main/_doc ajustes auth para rodar
docker/flag-service-main/_doc ajustes para rodar
docker/targeting-service-main/_doc ajustes para rodar
docker/evaluation-service-main/_docs ajustes para rodar
doc
k8s/auth-service/secret.yaml
k8s/flag-service/secret.yaml
k8s/analytics-service/secret.yaml
k8s/targeting-service/secret.yaml
k8s/evaluation-service/secret.yaml
k8s/senhas
k8s/comandos
k8s/ECR
response.json
