.env
testes
auth-service-main/_doc ajustes auth para rodar
flag-service-main/_doc ajustes para rodar
targeting-service-main/_doc ajustes para rodar
evaluation-service-main/_docs ajustes para rodar
doc
